@model IOrderedEnumerable<SudokuWorld.Models.Grid>

@{
    ViewData["Title"] = "Grids";
}

    <div class="row">
        @foreach (var grid in Model)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sudoku numéro @grid.Id</h5>
                        @if (grid.IsDoneByUser)
                        {
                            <p class="card-text">Sudoku déjà essayé ou fait.</p>
                            @*<a asp-area="Players" asp-controller="Grille" asp-action="Index" asp-route-id="@grid.Id" class="btn btn-success">Soyez le premier</a>*@
                        }
                        else if (grid.Record == 0)
                        {
                            <p class="card-text">Personne n'a jamais réussi ce sudoku !</p>
                            <a asp-area="Players" asp-controller="Grille" asp-action="Index" asp-route-id="@grid.Id" class="btn btn-success">Soyez le premier</a>
                        }
                        else
                        {
                            <p class="card-text">Ce sudoku à été complété @grid.NbTimesCompleted fois et le temps record pour le compléter est de @grid.Record secondes.</p>
                            <a asp-area="Players" asp-controller="Grille" asp-action="Index" asp-route-id="@grid.Id" class="btn btn-primary">Essayez de battre ce record</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
